<div class="text-layout">
    <h1>Pipes personalizados</h1>
    <p>Pipes creados por {{'nosotros' | uppercase}}</p>
    <p>Pipes creados por {{'nosotros' | mayusculas:cambio}}</p>
    <button pButton label="toogle mayusculas" (click)="cambiar()"></button>
</div>

<p-toolbar>
    <div class="p-toolbar-group-left">   
    </div>
    
    <div class="p-toolbar-group-right">
        <button pButton label="toogle mayusculas"  class="mr-1 p-button-warning" (click) ="cambiar()"></button>
        <button pButton icon="pi pi-sort" label="Por nombre" class="mr-1" (click) ="cambiar()"></button>
        <button pButton icon="pi pi-sort" label="Vuela" class="mr-1 p-button-success" (click) ="cambiar()"></button>
        <button pButton icon="pi pi-sort" label="Por color" class="mr-1 p-button-help" (click) ="cambiar()"></button>
    </div>
</p-toolbar>

<div class="grid">
    <div class="col mt-2" >
    <p-table [value]="heroes | ordenar" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                <th pSortableColumn="vuela">Vuela <p-sortIcon field="vuela"></p-sortIcon></th>
                <th pSortableColumn="color">Color <p-sortIcon field="color"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-heroe>
            <tr>
                <td>{{ heroe.nombre}}</td>
                <td>{{ heroe.vuela | vuela | titlecase}}</td>
                <td>{{ heroe.color | color}}</td>
            </tr>
        </ng-template>
    </p-table>
    </div>
</div>

